.wrapper {
    display: block; // Đảm bảo toàn bộ SearchBar bao trùm kết quả
    width: 100%; // Để đảm bảo nó chiếm hết chiều rộng
    padding: 6px 16px;
    cursor: pointer;
    overflow: hidden; // Chặn phần bị tràn nếu có

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.cover {
    width: 80px;
    height: 120px;
    object-fit: cover;
    float: left; // Đảm bảo ảnh hiển thị bên cạnh thông tin sách
    margin-right: 12px;
}

.info {
    overflow: hidden; // Đảm bảo nội dung không bị tràn ra ngoài
}

.namebook {
    font-size: 16px;
    font-weight: 500;
}

.author {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}
